@media screen and (max-width:992px){
    .fix-center{
        width:90%;
    }
    .introduction .heading p {
        font-size: 15px;
    }
    .properties {
        padding: 82px 0px;
    }
    .properties .prop-items{
        max-width: 420px;
        margin: 0px auto;
        display: block;
        margin-bottom: 85px;
    }
    .properties .prop-items h2{
        color: white;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
      }
      .corousel {
        padding: 73px 0px;
    }
      .corousel .card{
         margin-bottom: 20px;
         display: block;
    }

      .productive .heading{
        padding-left: 0px;
        
     }
     .productive .heading h1{
        max-width: 700px;
     }
     .productive .heading p {
        font-size: 15px;
        max-width: 667px;
    }

    .productive .heading a {
        font-size: 22px;
    }
    .access-card {
        padding: 61px 0px;
    }

    .access-card .card {
        padding: 51px 16px;
    }
    .access-card form div{
        display: block;

    }
    .access-card form {
        padding: 0px 16px;
    }
    .access-card form .search{
        margin-bottom: 20px;
    }
    .access-card form .search input[type='email'] {
        max-width: 100%;
    }
    .access-card form .button input[type='submit'] {
        max-width: 100%;
    }
    
    footer .image img{
        max-width: 200px;

    }
    footer .about p{
        font-size: 22px;
        max-width: 530px;

        
    }

    footer .telephone p{
       font-size: 22px;
    }
    footer .col5 a{
       margin: 0 6px;
       
    
    }
    footer .email p{
        font-size: 22px;
    }

    footer ul li{
        font-size: 22px;
    }

    footer a{
        text-align: center;
    }
    footer .col1, .col2,.col2,.col3,.col4,.col5{
        padding-top: 100px;
        text-align: center;
    
    }
    footer .col2,.col2,.col3,.col4,.col5{
        padding-top: 50px;
    }
    
    
   
    
}

@media screen and (max-width:600px){
    .introduction .heading h1 {
        font-size: 27px;
    }
    .productive .heading h1 {
        font-size: 27px;
    }
    .productive {
        text-align: center;
    }
    .properties {
        padding: 20px 0px;
    }
    .properties .prop-items h2 {
        font-size: 27px;
    }

}