*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p,a{
font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.fix-center{
    max-width: 1200px;
    margin: 0 auto;
}
.fit-center{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    width:100%;
}

header{
    background: #0e0e0e;
    overflow: auto;
    padding: 50px 0px;
}

header .logo{
    max-width: 100px;
    float: left;
}

header .links a{
    color: white;
    float: right;
    padding: 0px 20px;
}

.introduction{
    background: #0e0e0e;
    padding: 20px 0px;
    margin-top: -1px;
}
.introduction .intro-logo{
    max-width: 500px;
    margin: 0 auto;
}

.introduction .heading{
    color: white;
    max-width: 540px;
    margin: 0 auto;
}

.introduction .heading h1{
    max-width: 560px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}

.introduction .heading p {
    max-width: 403px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 30px 0px;
}

.introduction .button{
    max-width: 250px;
    height: 40px;
    background-color: #00CED1;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;

}
.introduction .button button{
    background-color: #00CED1;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    margin-top: 8px;
}

.introduction .button span{
   padding-left: 80px;
   color: white;
   font-size: 20px;
}

.properties{
    background: #0e0e0e;
    padding: 100px 0px;
    margin-top: -1px;
}

.properties .prop-items{
    max-width: 385px;
    display: inline-block;
    margin: 30px 90px;
}
.properties .prop-items .image{
    text-align: center;
}

.properties .prop-items img{
     max-width: 150px;
     padding: 0px 20px;
     margin:0 auto;
     padding-bottom: 30px;
     text-align: center;
}
.properties .prop-items h2{
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.properties .prop-items p{
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
  }

  .productive{
    background: #0e0e0e;
    padding: 50px 0px;
    margin-top: -1px;
  }
  .productive .heading{
     padding-left: 50px;
     margin-top: 110px;
  }

  .productive .heading h1{
     color: white;
     max-width: 400px;
     font-weight: 600;
     margin-bottom: 30px;
  }

  .productive .heading p{
    color: white;
    max-width: 500px;
    margin-bottom: 20px;
 }
 .productive .heading a{
     margin-top: 30px;
     color: #00FFFF;
     text-decoration: none;
     border-bottom: solid 1px #00FFFF;

 }
 .productive .heading a i{
    margin-left: 10px;
}









