*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p,a{
font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.fix-center{
    max-width: 1200px;
    margin: 0 auto;
}
.fit-center{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    width:100%;
}

header{
    background: #1c2230;
    overflow: auto;
    padding: 50px 0px;
}

header .logo{
    max-width: 100px;
    float: left;
}

header .links a{
    color: white;
    float: right;
    padding: 0px 20px;
}

.introduction{
    background: #1c2230;
    padding: 20px 0px;
    margin-top: -1px;
    position: relative;
}
.introduction .bg-image img{
    position: absolute;
    bottom: -17px;
    z-index: -1;
}
.introduction .intro-logo{
    max-width: 500px;
    margin: 0 auto;
}

.introduction .heading{
    color: white;
    max-width: 540px;
    margin: 0 auto;
}

.introduction .heading h1{
    max-width: 560px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}

.introduction .heading p {
    max-width: 403px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 30px 0px;
}

.introduction .button{
    max-width: 250px;
    height: 40px;
    background-color: #00CED1;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;

}
.introduction .button button{
    background-color: #00CED1;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    margin-top: 8px;
}

.introduction .button span{
   padding-left: 80px;
   color: white;
   font-size: 20px;
}

.properties{
    background: #181e2a;
    padding: 100px 0px;
    margin-top: -1px;
}
.properties .prop-items{
    max-width: 385px;
    display: inline-block;
    margin: 30px 90px;
}
.properties .prop-items .image{
    text-align: center;
}

.properties .prop-items img{
     max-width: 120px;
     padding: 0px 20px;
     margin:0 auto;
     padding-bottom: 30px;
     text-align: center;
}
.properties .prop-items h2{
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.properties .prop-items p{
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
  }

.corousel{
    background-color:  #181e2a;
    margin-top: -1px;
    padding: 100px 0px;
}
.corousel .quote{
    max-width: 60px;
}


.corousel .card{
    background-color: #21293c;
    max-width: 350px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin: 0 auto;
    padding: 25px 30px;
    margin: 0px 15px;
    margin-top: -8px;
}
.corousel .card .profile div{
    display: inline-block;
}
.corousel .card>p{
    font-size: 15px;
    
}
.corousel .card .about{
    padding: 8px 10px;
}
.corousel .card img{
    max-width: 25px;
    border-radius: 20px;
    
}

.corousel .card .profile .about h3{
    font-size: 10px;
    margin-bottom: 0px;
}

.corousel .card .profile .about p{
    font-size: 8px;
    margin-bottom: 0px;
}

  .productive{
    background:  #181e2a;
    padding: 50px 0px;
    margin-top: -1px;
  }
  .productive .heading{
     padding-left: 50px;
     margin-top: 110px;
  }

  .productive .heading h1{
     color: white;
     max-width: 400px;
     font-weight: 600;
     margin-bottom: 30px;
  }

  .productive .heading p{
    color: white;
    max-width: 500px;
    margin-bottom: 20px;
 }
 .productive .heading a{
     margin-top: 30px;
     color: #00FFFF;
     text-decoration: none;
     border-bottom: solid 1px #00FFFF;

 }
 .productive .heading a i{
    margin-left: 10px;
}

.access-card{
    background-color: #181e2a;
    padding: 100px 0px;
    margin-top: -1px;
}
.access-card .card{
    background-color: #21293c;
    max-width: 900px;
    padding: 50px 0px;
    margin: 0 auto;
}
.access-card .heading h2{
    color: white;
    text-align: center;
   font-weight: 600;

}
.access-card .heading p{
    color: white;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
}
.access-card .card{
    margin-bottom: -216px;
}
.access-card .search-buttons div{
    padding-top: 50px;
    display: inline-block;
}

.access-card form{
    margin-top: 17px;
}
.access-card form div{
    display: inline-block;
}
.access-card form .search input{
    padding: 8px 0px;
    width: 400px;
    border-radius: 25px;
    text-align: left;
    padding-left: 20px;
    margin-left: 134px;
    margin-right: 35px;
    border: none;
}
.access-card form .button input{
    padding: 8px 0px;
    border-radius: 25px;
    width: 188px;
    color: white;
    background: linear-gradient(#4ec4d5,#3fb0d1);
    border: none;
}







footer{
    background-color:  #0c1524;
    margin-top: -1px;
}

footer .fix-center{
    padding: 100px 0px;
}

footer .image img{
    max-width: 116px;
}
footer .about div{
    display: inline-block;
}
footer .about .location{
    max-width: 10px;
    margin-top: 0px;
}
footer .about img{
    max-width: 21px;
    vertical-align: top;
    margin-top: 24px;
    padding-right: 6px;
}
footer .about p{
    color: white;
    font-size: 15px;
    padding-top: 17px;
    max-width: 300px;
    
}
footer .telephone div{
    display: inline-block;
}
footer .telephone img{
    padding-right: 10px;

}

footer .telephone{
    color: white;
}
footer .email div{
    display: inline-block;
}
footer .email img{
    padding-right: 7px;
}
footer .email{
    color: white;
}

footer ul li{
    list-style: none;
    color: white;
}

footer a{
    color: white;
    padding: 0px 10px;
    border: solid 1px white;
    border-radius: 20px;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    margin-right: 12px;

}
footer a .fa{
    vertical-align: -webkit-baseline-middle;
}
footer .col1, .col2,.col2,.col3,.col4,.col5{
    padding-top: 80px;

}

footer .col2,.col2,.col3,.col4,.col5{
    padding-top: 130px;
}











